.feature{
     padding: 3rem 5rem; 
}
.feature-sec{ 
     display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center; 
    padding: 0 .5rem;
}
.feature-sec1{  
    padding: 2rem;
    width: 90%;
    margin: 0 auto; 
}
.feature-title{
    background-color: #EAECF0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px ;
    width: fit-content;
    border-radius: 50px;
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 450; 
}
.feature-title p{
     padding-left: 3px;
}
.feature-head{ 
   font-family: 'Integral CF Regular' , sans-serif; 
   margin: 15px 0; 
}
.feature-head h2{
    font-size: 2.5rem; 
    letter-spacing: 3px;
    font-weight: 500;
}
.feature-text{ 
     margin: 10px 0;
}
.feature-text p{
    font-weight: 400;
    font-size: 1rem;
    color:#6B6969; 
    margin-bottom: 20px;
}
.feature-btn{
     margin-top: 25px;
}
.feature-btn button{
     border-radius: 28px;
     padding: 10px 30px; 
     font-size: 13px; 
     transition: all 0.5s ease-in-out;
     border: 1px solid #00B512;
     background-color: transparent;
     color: black;
    font-weight: 600; 
}
.feature-btn button:hover{
    transform: scale(1);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.feature-sec2{
    width: 80%;
    margin: 0 auto; 

}
.feature-sec2 img{
     width: 100%;      
} 
.feature-sec2 img:hover{
     transition: all.3s ease-in-out;  
    transform: scale(1.05);
}

/* MEDIA QUERY  */
/* Small Screens: max-width 768px */
@media (max-width: 768px) {

.feature{
     padding: 2rem 1rem;   
} 

}

/* Medium Screens: 769px–1024px */ 
@media (max-width: 1024px){

.feature{
     padding: 2rem ;   
}
.feature-sec{ 
    grid-template-columns:1fr; 
    gap: 20px;
    padding: 0 1rem; 
}
.feature-sec1{ 
    padding: .5rem;
    width: 100%;  
}
.feature-sec2{
    width: 100%; 
}

}














































