 
nav {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.9em 5em;
  font-family: "Poppins", sans-serif;
  position: relative; 
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100%;
  height: auto;
}

.nav-links {
  display: flex;
  gap: 8px;
  list-style: none;
  transition: max-height 0.4s ease, opacity 0.3s ease;
}

.nav-links li {
  height: 40px;
  font-weight: 250;
}

.nav-links a {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: white;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
  border: none;
}

.nav-links a:hover {
  color: white;
  border: 1px solid #00B512;
}

.nav-btn {
  background-color: transparent;
  border-radius: 8px;
  padding: 10px 30px;
  font-size: 15px;
  transition: all 0.5s ease-in-out;
  color: white;
  border: 1px solid white;
}

.nav-btn:hover {
  border: 1px solid #00B512;
}

.menu {
  display: none;
}

 

/*  MEDIA QUERY (mobile + tablet)   */
 

@media (max-width: 1024px) {
  nav {
    flex-wrap: wrap;
    padding: 1em;    
  }

  .menu {
    display: block;
    cursor: pointer; 
  }

  .btn {
    display: none;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    transition: max-height 0.4s ease, opacity 0.3s ease;
    background-color: transparent;
    margin-top: 1em;
  }

  .nav-links.open {
    max-height: 500px; 
    opacity: 1;
    pointer-events: auto;
  }

  .nav-links li {
    width: 100%;
  }

  .nav-links a {
    padding: 15px 20px;
    width: 100%;
    justify-content: flex-start;
  }
}





































 